@import 'vars';

.cartItem{
    display: flex;
    justify-content: space-between;
}

.cartItem_name{
    font-weight: 700;
    font-size: medium;
}

.cartItem_price{
    font-weight: 700;
    font-size: larger;
}